/* You can add global styles to this file, and also import other style files */
*{
    /* font-family: 'Albert Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif; */
/* font-family: 'Barlow', sans-serif;
font-family: 'Fredoka', sans-serif; */
/* font-family: 'Fredoka One', cursive;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */
}