<app-header ></app-header>

<section class="about_page mt-4">
    <div class="container">
        <div class="about_us text-center">
            <h3>About</h3>
            <h1>The fastest and easiest way to create a logo</h1>

            <p>makeLogo is a free online logo software helping entrepreneurs, small and medium businesses,
                freelancers or associations to create professional logos in minutes!

                We are the most advanced HTML5 logo creator on the market, allowing you to use our tool easily with a
                smartphone or a tablet. Make your logo for free whenever and wherever the inspiration comes!

                Choose amongst thousands of high-quality templates and customize your logo by editing color, shape, and
                font. We are positive that you will find a template that meets your needs!</p>
        </div>

        <div class="more_info">
            <h3>We <span>  help</span> people turn ideas into businesses​</h3>

            <img src="https://srv.media.io/v1/matting/download?originId=Q9NH9cZx-e2685bd3cbd0f1d3d36dcacad47d48a1&type=low">





        </div>

    </div>
</section>