<section class="header_child mx-auto">

        <!-- <h1 class="text-center">This is my header-child component</h1>
        <h3 class="text-center">My name is {{myname}}</h3>
 -->

        <h1 class="text-center">Please select one of the product</h1>

        <h2 class="text-center ">Selected product is {{my_product}}</h2>
        <div class="add_to_cart">
                <button class=" cart btn btn-large btn-success" (click)="  added_product()"> Add To Cart</button>
        </div>


</section>
