<section class="home_page">
    <app-header></app-header>
    <div class="container about_makelogo">

        <div class="header_text">
            <h1 class="main_text">
               <span> makeLogo</span> is one of the coolest startup ever to meet every customer needs and provide unique and
                minimalistic logo design as per their demand

            </h1>
            <p class="desc"> Take our memembership to get the free design of required logo you want in your company</p>
        </div>

        <div class="btn_part">
            <button type="button" class="btn btn-warning"><a routerLink="/about">About makeLogo</a> </button>
            <button type="button" class="btn">Subscribe</button>
        </div>
 


    </div>
</section>